.nav {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  &__logo-link {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 20px;

      @include onTablet {
        margin-right: 40px;
      }

      @include onDesktop {
        margin-right: 65px;
      }
    }

  }

  &__link {
    padding: 24px 0;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $nav-link-color;
  }

  &__top-actions {
    display: flex;
  }

  &__action {
    position: relative;
    padding: 24px 0;
    display: flex;
    align-items: center;
    height: 16px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    left: 15px;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;

    background: #E6C8B4;

    &::after {
      content: '1';
      position: relative;
      bottom: 5px;
      display: block;
      font-weight: 800;
      font-size: 8px;
      text-align: center;
      color: $secondary-color;
    }
  }
}