.page {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  scroll-behavior: smooth;
  overflow: hidden;
  
  &__body {
    color: $main-color;
    background-color: $main-bgr-section;
  }

  &__section {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;
  
    @include onTablet {
      padding: 0 42px;
      max-width: 744px;
    }
  
    @include onDesktop {
      padding: 0 120px;
      max-width: 1440px;
    }
  }

  &__title {
    @extend %title-h1;
  }

  &__subtitle {
    @extend %title-h2;
  }
}