// COLORS:
$main-color: #444240;
$secondary-color: #1b1a17;
$button-text-color: #ffffff;

$line-color: #8B8371;
$button-active-color: #191919;
$main-bgr-section: #fdfdfd;
$bgr-section: #f7f5ef;
$second-bgr-section: #fdfdfb;

$watch-all-line-color: #c4c0b6;

$second-button-color: #d4b098;
$second-button-hover-color: #deaa88;

$nav-link-color: #555248;

// SIZES:
$header-height: 85px;
